.menuWrapper {
	display: flex;
	min-width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.btnWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
