@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss";

.menuWrapper {
	display: flex;
	min-width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.headerSticky {
	@apply bg-db-bg-light;
	position: sticky;
	top: 0;
	z-index: 10;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 10px;

	h1 {
		font-size: 24px;
		text-align: center;
		margin: 0;
	}
	@media (max-width: $mobile) {
		top: 60px;
		// position: fixed;
	}
}
.weekChangeBtn {
	display: flex;
	width: 100%;
	justify-content: space-between;
	@media (max-width: $mobile) {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}

.weekBtn {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	span {
		margin-bottom: 10px;
	}
	@media (max-width: $mobile) {
		width: 80%;
	}
}
