@use "../../../styles/colors.scss" as *;

.wrap {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: $gray-800;
	padding: 0.5rem;
	margin-bottom: 0.75rem;
	border-radius: 0.375rem;
}
.dot {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 9999px;
}
.green {
	background-color: $green-500;
}
.yellow {
	background-color: $yellow-500;
}
.red {
	background-color: $red-500;
}
.text {
	font-size: 0.875rem;
}
.err {
	font-size: 0.75rem;
	color: $red-400;
	margin-left: 0.5rem;
}
.reconnect {
	margin-left: auto;
	font-size: 0.75rem;
	background-color: $blue-500;
	color: $text-white;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}
.reconnect:hover {
	background-color: $blue-700;
}
