.authContainer {
	@apply flex min-h-screen;
}

.authForm {
	@apply w-[70%] m-auto shadow bg-secondary rounded-xl p-layout md:w-[30%];
}

.authButtons {
	@apply flex items-center justify-between;
	@media (max-width: 767.98px) {
		display: flex;
		flex-direction: column;
		min-width: 100%;
	}
}

.heading {
	text-align: center;
	font-size: 1.25rem;
}

.actionButton {
	color: var(--color-text-white, #ffffff);
	width: 100%;
	padding: 0.5rem 1rem;
}

.registerButton {
	color: var(--color-text-white, #ffffff);
	width: 100%;
	padding: 0.5rem 1rem;
}

.googleWrap {
	margin-top: 1rem;
}

.googleButton {
	@apply w-full py-2 bg-white text-gray-800 hover:bg-title-dark rounded-lg transition-colors;
}
