.autocompleteContainer {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.input {
	background: transparent;
	@apply hover:bg-sidebar w-full rounded-sm overflow-hidden text-ellipsis  mr-2 px-2 py-2	resize-none bg-transparent focus:bg-db-bg relative;
}

.autocompleteList {
	@apply absolute top-full mt-1 w-full bg-db-row-light/90 border border-db-border p-1 rounded-md z-20;
}

.autocompleteItem {
	@apply p-2 hover:bg-primary-hover  text-text-white cursor-pointer;
	.active {
		@apply bg-primary-hover;
	}
}
