@use "sass:math";
@use "mixins";
@use "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

// Брейк-поїнти
$pc: em(variables.$containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

body {
	@apply text-base  text-text-primary;
	position: relative;

	font-family: var(--font-zen), sans-serif;
	font-weight: 400;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	z-index: 5;
	@supports (overflow: clip) {
		overflow: clip;
	}

	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if (variables.$maxWidthContainer>0) {
			max-width: mixins.toRem(variables.$containerWidth);
			margin: 0 auto;
		}
		@if (variables.$containerPadding>0) {
			@if (variables.$maxWidthContainer>0) {
				padding: 0 mixins.toRem(math.div(variables.$containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div(variables.$containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div(variables.$containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if (variables.$maxWidthContainer>0) {
			max-width: variables.$containerWidth;
		} @else {
			@if (variables.$containerPadding>0) {
				padding: 0 math.div(variables.$containerPadding, 2);
			}
		}
		@media (max-width: $pc) {
			max-width: 970px;
		}
		@media (max-width: $tablet) {
			max-width: 750px;
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if (variables.$containerPadding>0 and variables.$maxWidthContainer>0) {
				padding: 0 math.div(variables.$containerPadding, 2);
			}
		}
	}
}

.main__container {
	@apply relative;

	@media (max-width: 1050px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.footer__container {
	text-align: center;
	color: variables.$white;
	@include mixins.adaptiveValue("font-size", 16, 12);
}
