@use "@/styles/mixins.scss";
@use "@/styles/variables.scss" as *;

.wrapper {
	@include mixins.adaptiveValue("padding", 20, 5);

	width: 80%;
	margin: 0 auto;
	@media (max-width: $tablet) {
		width: 100%;
	}
}

.datePickers {
	display: flex;
	align-items: center;
}

.rightDatePicker {
	margin-right: 28px;
}

.tableContainer {
	margin-top: 20px;
}

.salesTable {
	width: 100%;
	border-collapse: collapse;

	tr {
		@apply flex hover:bg-db-hover-light;
		width: 100%;
	}

	th,
	td {
		@include mixins.adaptiveValue("padding", 10, 3);
		@include mixins.adaptiveValue("font-size", 18, 12);
		@apply border border-db-border-light;
		text-align: left;
	}

	th {
		text-align: center;
		background-color: rgba(0, 0, 0, 0.05);
	}

	/* Указываем ширину столбцов */
	th:nth-child(1),
	td:nth-child(1) {
		width: 49%;
	} /* Блюдо */

	td:nth-child(1) {
		text-align: left;
	}

	th:nth-child(2),
	td:nth-child(2),
	th:nth-child(3),
	td:nth-child(3),
	th:nth-child(4),
	td:nth-child(4) {
		width: 17%;
		text-align: center;
	}

	tfoot {
		font-weight: bold;
		@include mixins.adaptiveValue("font-size", 18, 12);
	}
}
