@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";
.header__container {
	@apply pt-3;
	display: flex;
	align-items: center;

	@include adaptiveValue("font-size", 32, 18);
}
.headerTitle {
	letter-spacing: 0.15rem;
	line-height: 1.4;
	font-weight: 700;
}
.logoImage {
	position: relative;
	margin-right: 20px;
}
.dayWeekCOlumn {
	@apply py-2  flex flex-col items-center justify-start;
	opacity: 0;
	animation: slideIn 0.5s ease-out forwards;

	&:not(:last-child) {
		border-right: 1px solid #ccc;
		@media (max-width: toRem(1050)) {
			border: none;
		}
	}

	@for $i from 1 through 5 {
		&:nth-child(#{$i}) {
			animation-delay: 0.2s * ($i - 1);
		}
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.mealTypeContainer {
	@apply my-2;
	position: relative;
	&:not(:last-child) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	}
	@media (max-width: toRem(1050)) {
		width: 100%;
		padding-bottom: toRem(10);
	}
	@include adaptiveValue("margin-right", 16, 5);
	@include adaptiveValue("margin-left", 16, 5);
}
.dayContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	> span {
		margin-top: toRem(5);
		@include adaptiveValue("font-size", 14, 10);
	}
}
.dayWeekTitle {
	@apply text-center rounded-sm;
	position: relative;
	padding: toRem(5) toRem(5);
	line-height: 1.4;
	letter-spacing: 0.2rem;
	font-weight: 600;

	@include adaptiveValue("font-size", 32, 26);
	> span {
		position: relative;
		transition: all 0.5s ease;
		z-index: 5;
	}
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 2px;
		border-radius: 4px;
		background-color: rgba(121, 79, 69, 0.2);
		z-index: 2;
		transition:
			height 0.3s ease,
			top 0.3s ease;
	}
	@media (any-hover: hover) {
		&:hover::after {
			height: 100%;
			top: 0;
		}
		&:hover {
			> span {
				color: #ffff;
			}
		}
	}
}

.mealTypeTitle {
	@apply text-center;
	line-height: 1.4;
	letter-spacing: 0.1rem;

	@include adaptiveValue("font-size", 22, 18);
}

.dishRow {
	@apply relative  my-3 rounded-sm p-2  shadow-md shadow-row-black;
	@media (max-width: toRem(1050)) {
		width: 100%;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		background: rgba(121, 79, 69, 0.3);
		z-index: 2;
		pointer-events: none;
	}
}

.dishRow:nth-child(even)::before {
	background: rgba(121, 79, 69, 0.5);
}
.dishRowSpan {
	@apply text-white relative z-10;
	font-weight: 200;
	letter-spacing: 0.15rem;
	@include adaptiveValue("font-size", 16, 14);
}
