@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";
.header__container {
	@apply pt-3;
	display: flex;
	align-items: center;

	@include adaptiveValue("font-size", 32, 18);
}
.headerTitle {
	// color: rgba(249, 84, 84, 0.6);
	letter-spacing: 0.15rem;
	line-height: 1.4;
	font-weight: 700;
}
.logoImage {
	position: relative;
	margin-right: 20px;
}
.dayWeekCOlumn {
	@apply py-2 px-2 flex flex-col items-center justify-start;
	opacity: 0;
	animation: slideIn 0.5s ease-out forwards;

	&:not(:last-child) {
		border-right: 1px solid #ccc;
	}

	@for $i from 1 through 5 {
		&:nth-child(#{$i}) {
			animation-delay: 0.2s * ($i - 1);
		}
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.mealTypeContainer {
	@apply rounded-sm my-2 px-3;
	position: relative;
	height: toRem(770);
	&:not(:last-child) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	}
}

.dayWeekTitle {
	@apply text-center rounded-sm;
	position: relative;
	padding: 5px 7px 5px 7px;
	line-height: 1.4;
	letter-spacing: 0.2rem;

	@include adaptiveValue("font-size", 32, 18);
	> span {
		position: relative;
		transition: all 0.5s ease;
		z-index: 5;
	}
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 2px;
		border-radius: 4px;
		background-color: rgba(249, 84, 84, 0.6);
		z-index: 2;
		transition:
			height 0.3s ease,
			top 0.3s ease;
	}
	@media (any-hover: hover) {
		&:hover::after {
			height: 100%;
			top: 0;
		}
		&:hover {
			> span {
				color: #ffff;
			}
		}
	}
}

.mealTypeTitle {
	@apply text-center;
	line-height: 1.4;
	letter-spacing: 0.1rem;

	@include adaptiveValue("font-size", 22, 16);
}

.dishRow {
	@apply relative  my-3 rounded-sm p-2  shadow-md shadow-row-black;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		background: rgba(0, 0, 0, 0.4);
		z-index: 2;
		pointer-events: none;
	}
}

.dishRow:nth-child(even)::before {
	background: rgba(0, 0, 0, 0.45);
}
.dishRowSpan {
	@apply text-white relative z-10;
	font-weight: 200;
	letter-spacing: 0.12rem;
	@include adaptiveValue("font-size", 16, 12);
}
