@use "@/styles/mixins.scss";
@use "@/styles/variables.scss" as *;

.wrapper {
	@include mixins.adaptiveValue("padding", 20, 0);

	width: 80%;
	margin: 0 auto;
	@media (max-width: $tablet) {
		width: 100%;
	}
}

.datePickers {
	display: flex;
	align-items: center;
}

.rightDatePicker {
	margin-right: 28px;
}

.tableContainer {
	margin-top: 20px;
}

.transfersTable {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		@include mixins.adaptiveValue("padding", 10, 3);
		@include mixins.adaptiveValue("font-size", 18, 10);
		@apply border border-db-border-light;
		text-align: left;
	}

	th {
		text-align: center;
		background-color: rgba(0, 0, 0, 0.05);
	}

	tr {
		@apply hover:bg-db-hover-light;
		// width: 100%;
	}

	/* Указываем ширину столбцов в процентах */
	th:nth-child(1),
	td:nth-child(1) {
		width: 10%; /* Дата */
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: 10%; /* Откуда */
	}

	th:nth-child(3),
	td:nth-child(3) {
		width: 20%; /* Куда */
	}

	th:nth-child(4),
	td:nth-child(4) {
		width: 30%; /* Блюдо */
	}

	th:nth-child(5),
	td:nth-child(5) {
		width: 10%; /* Кол-во */
		text-align: center;
	}

	th:nth-child(6),
	td:nth-child(6) {
		width: 20%; /* Регистратор */
		@include mixins.adaptiveValue("font-size", 14, 10);
	}
}

.rangeDatePickers {
	display: flex;
	min-width: 100%;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	@include mixins.adaptiveValue("gap", 20, 10);
	@media (max-width: $mobile) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.rightDatePicker {
			margin-right: 0px;
		}
	}

	h2 {
		@include mixins.adaptiveValue("font-size", 16, 14);
		font-weight: 600;
	}
}

.loadButton {
	color: #fff;
	&:disabled {
		opacity: 0.6;
	}
}

.expandedRow {
	background-color: rgba(74, 108, 247, 0.05) !important;
}

.detailsRow {
	background-color: rgba(74, 108, 247, 0.02);

	&:hover {
		background-color: rgba(74, 108, 247, 0.02) !important;
	}

	td {
		padding: 0;
	}
}

.detailsTable {
	margin: 10px;
	width: 100%;

	table {
		width: 100%;
		border-collapse: collapse;

		th,
		td {
			padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

		th {
			// background-color: #eaeaea;
			font-weight: 600;
			font-size: 0.9rem;
		}
	}
}

.total {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
	padding: 0 20px;
}
