@use "@/styles/mixins.scss";
@use "@/styles/variables.scss";

.btnsWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.btnWrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: mixins.toRem(10);
}

.dates {
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: mixins.toRem(14);
	span {
		display: inline-flex; // Выровняет все элементы внутри по центру
		align-items: center;
	}
}
