@use "@/styles/mixins.scss";
@use "@/styles/variables.scss";

.wrapper {
	display: flex;
	width: 70%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: auto;
}

.btnWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.colHeading {
	@apply py-2 mb-2;
	font-weight: 400;
	letter-spacing: 0.01rem;
	@include mixins.adaptiveValue("font-size", 18, 14);
}
.input {
	@apply text-base w-[50%] text-center bg-db-row-light/50 border border-border-light py-2 px-3 focus:bg-db-sidebar-light hover:bg-db-row-light;
}
