@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.dashBoardWrapper {
	@apply dark:text-primary dark:bg-db-bg bg-db-bg-light text-db-text-color-on-primary min-h-svh relative;
	display: grid;
	grid-template-columns: auto 1fr;
}

.main {
	padding: 1rem /* 36.8px */;
}

.menuItemLink {
	background-color: $borderRed;
}
