@use "@/styles/variables.scss" as vars;
@use "@/styles/colors.scss" as colors;
@use "@/styles/mixins.scss";

.header {
	padding: 0.75rem 1.25rem;

	@media (min-width: vars.$mobile) {
		margin-top: 0;
	}

	@media (max-width: vars.$mobile) {
		display: none;
	}
}
