@use "@/styles/mixins.scss";
@use "@/styles/colors.scss" as *;

.badge {
	border-radius: 0.5rem;
	min-width: 100%;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	color: $text-white;
	transition: all 150ms ease-in-out;
}

.low {
	background-color: $blue-200;
}
.medium {
	background-color: $blue-500;
}
.high {
	background-color: $blue-800;
}
.gray {
	background-color: color-mix(in srgb, $gray-900 20%, transparent);
}
.select {
	background-color: color-mix(in srgb, $gray-900 30%, transparent);
}
