@use "../../styles/colors.scss" as *;

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon {
	animation: spin 1s linear infinite;
	height: 1.25rem;
	width: 1.25rem;
	color: $text-white;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
